/.org-id-locations
/abbrev_defs
/custom.el
/elpa
/auto-save-list
/server/*
!/server/.keep
/recentf
/projectile
/.cache
/bookmarks
/eshell
/transient
/url
/history
/tramp
/emojis
*.elc
/package-quickstart.el
/projectile-bookmarks.eld
/projectile.cache
*~
/games
/.last-package-update-day
/.emacs.desktop*
/org-roam.db
/network-security.data
/eln-cache/
/places

# cask packages
/.cask/
/dist/

# request.el
/request/

# Racket
/racket-mode/
