/.org-id-locations
/abbrev_defs
/custom.el
/elpa
/auto-save-list
/server/*
!/server/.keep
/recentf
/projectile
/.cache
/bookmarks
/eshell
/transient
/preload/1-system.*
/url
/history
/tramp
/emojis
/modules/*.el
/preload/*.el
*.elc
/package-quickstart.el
