/.org-id-locations
/abbrev_defs
/custom.el
/elpa
/auto-save-list
/server/*
!/server/.keep
/recentf
/projectile
/.cache
/bookmarks
/eshell
/transient
/url
/history
/tramp
/emojis
*.elc
/package-quickstart.el
/projectile-bookmarks.eld
/projectile.cache
*~
/games
/.last-package-update-day
/.emacs.desktop*
/org-roam.db
/network-security.data
/eln-cache/
/places
/.cask/
/dist/
/request/
/racket-mode/
/projects
/.somafm-favorites
/.mc-lists.el
/multisession/
/ielm-history.eld
/xkcd-geohashing-cache.el
/org-persist/
.lsp-session-v1
